body {
    font-family: roboto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.header,.top-part,.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 8px;
    color: #E5E7EB;
    font-size: 18px;
}

.subtext {
    color: #E5E7EB;
}
.top-part {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.top-content {
    width: 400px;
}

.top-content div {
    margin: 10px;
}
button {
    background-color: #3882F6;
    padding: 8px;
    border-radius: 25px;
    font-size: 18px;
    color: #F9FAF8;
}
.image-placeholder {
    width: 400px;
    padding: 40px 40px;
    background-color: grey;
    text-align: center;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tagline {
    font-size: 48px;
    font-weight: 800;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.box {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
    height: 100px;
    width: 100px;
}
.quotesection {
    background-color: #e5e7eb;
    height: 200px;
    text-align: center;
    padding: 50px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
}
.author {
    text-align: right;
    font-weight: 800;
}

.action {
   height: 300px;
   margin: 50px;
}
.card {
    background-color: #3882F6;
    width: 600px;
    height: 200px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
}

.cardtitle {
    font-size: 24px;
    font-weight: 800;
}

.cardbutton {
    border-color: #F9FAF8;
}


.footer {
    margin-top: auto;
    justify-content: center;
}
